html, body {
  background-image: url(./images/cielo.jpg);
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
}

.score-box{
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}